<div class="column is-3">
    <div class="card">
        <a href="{% url 'movie_details' location=location movie_id=movie.pk %}">
            <div class="card-image">
                {% if movie.is_ov and not show_ov_only %}
                    <div class="ov-badge">
                        OV
                    </div>
                {% endif %}
                <figure class="image">
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">
                </figure>
            </div>
            <div class="card-content">
                {{ movie.title }}
            </div>
        </a>
    </div>
</div>