<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">Starmovie Alert</a>

        <button class="button navbar-burger" id="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                {% if user.settings.favourite_location %}
                    <a href="{% url 'show_movies' location=user.settings.favourite_location.location %}" class="navbar-item" >
                        <span class="icon"><i class="fa fa-film"></i></span> {{ user.settings.favourite_location.location }}
                    </a>
                {% endif %}
                <a href="{% url 'profile' %}" class="navbar-item">
                    <span class="icon"><i class="fa fa-user"></i></span> Profile
                </a>
                <a href="{% url 'logout' %}" class="navbar-item">
                    <span class="icon"><i class="fa fa-sign-out"></i></span> Log out
                </a>
            {% else %}
                <a href="{% url 'register' %}" class="navbar-item">
                    <span class="icon"><i class="fa fa-pencil"></i></span> Register
                </a>
                <a href="{% url 'login' %}" class="navbar-item">
                    <span class="icon"><i class="fa fa-sign-in"></i></span> Log in
                </a>
            {% endif %}
        </div>
    </div>
</nav>