{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for starmovie in starmovies %}
                    <div class="column is-one-third">
                        <a href="{% url 'show_movies' location=starmovie.location %}">{{ starmovie.location }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}