{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="content">
                <ul>
                    {% for movie in movies %}
                        <li>
                            {{ movie }} &mdash; Showing in:
                            {% for location in movie.locations.all %}
                                <a href="{% url 'movie_details' location=location.location movie_id=movie.pk %}">{{ location.location }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="columns is-multiline">
            </div>
        </div>
    </section>
{% endblock %}