{% extends 'frontend/master.html' %}

{% block styles %}
    <style>
    .ov-badge {
        position: absolute;
        top: 0;
        right: 0;
        background: #00d875;
        z-index: 1;
        margin: 1em;
        transform: rotate(10deg);
        border-radius: 50%;
        color: white;
        font-weight: bold;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 1.4em;
    }

    .card a {
        outline: none;
    }
    </style>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for movie in movies %}
                    {% include 'frontend/_movie_card.html' with movie=movie %}
                {% endfor %}
            </div>

            {% if show_ov_only %}
                <p class="has-text-grey is-size-7 is-italic">
                    Showing {{ ov_movies }} OV version of {{ all_movies }} movies total, as per your <a href="{% url 'settings' %}">settings</a>. Temporarily <a href="?showall=yes">show all</a>   .
                </p>
            {% endif %}
        </div>
    </section>
{% endblock %}